<div class="user-title-container">
  <span>Edit <%= resource_name.to_s.humanize %></span>
</div>
<div class="user-form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "example" %>
      </div>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Example Name" %>
      </div>
      <div>
          <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar, class: "avatar" %>
          <% end %>
          <%= f.label :avatar %>
          <div class="input-file-user">
            <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", placeholder: "Example Name" %>
          </div>
      </div>

      <div>
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="buttons-user-section">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn-3" %>
</div>
<%= link_to "Back", :back ,class: "back-anchor" %>
