<div class="user-title-container">
  <span>Sign Up</span>
</div>
<div class="user-form-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  <% if resource.errors.messages[:username].any? %>
      <span class="content--sm input__error-message">
        <%= resource.errors.messages[:username].join(", ") %>
      </span>
  <% end %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <% if resource.errors.messages[:name].any? %>
      <span class="content--sm input__error-message">
        <%= resource.errors.messages[:name].join(", ") %>
      </span>
  <% end %>
  <div>
      <%= f.label :avatar, "Avatar (optional)" %>
      <div class="input-file-user">
      <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", placeholder: "Example Name"  %>
      </div>
  </div>

  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="buttons-user-section">
    <%= f.submit "Sign up" %>
     <%= render "devise/shared/links" ,class: "btn-2" %>
  </div>
 
<% end %>
</div>

