<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  <% if resource.errors.messages[:username].any? %>
      <span class="content--sm input__error-message">
        <%= resource.errors.messages[:username].join(", ") %>
      </span>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <% if resource.errors.messages[:name].any? %>
      <span class="content--sm input__error-message">
        <%= resource.errors.messages[:name].join(", ") %>
      </span>
  <% end %>
  <div class="input">
      <%= f.label :avatar, class: "content--xs overline" %>
      <div>
        <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", placeholder: "Example Name", class: "input__content" %>
      </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
