<div class="edit-form">
    <span>Edit Tweet</span>
</div>
<%= form_with model: @tweet  do |form| %>
    <div class="edit-body-container">
        <span><%= form.label :body %></span> 
        <%= form.text_area :body  %>
        <% if @tweet.errors.messages[:body].any? %>
            <span class="content--sm input__error-message">
                <%= @tweet.errors.messages[:body].join(", ")%>
            </span>
        <% end %>
        <%= form.hidden_field :user_id, value: @tweet.user_id %>

        <%= form.submit "Edit" ,class: "edit-submit" %>
    </div>    
<% end %>