<div class="tweet-container">
    <div class="title-home">Home</div>
    <div class="body-main">
        <% if current_user %>
            <%= form_with   model:@tweet_new do |form| %>
                <div class="form-tweeter">
                    <% if current_user.avatar.attached?%>
                        <%= image_tag  current_user.avatar %>
                    <% else %>
                        <img src="/images/avatar.png" alt="anonymus">
                    <% end %>
                    <div>
                        <%= form.text_field :body ,placeholder: "Remember to thing before write..." %>
                        <% if @tweet_new.errors.messages[:body].any? %>
                        <span class="content--sm input__error-message">
                            <%= @tweet_new.errors.messages[:body].join(", ")%>
                        </span>
                        <% end %>
                        <div class="tweet-button">
                            <%= form.submit "Tweet" %>
                        </div>
                    </div>
                </div>      
            <% end %>
        <% end %>
        
        <div class="cards-container">
            <% @tweets.each do |tweet| %>
                <div class="card-tweet">
                    <% if  tweet.user.avatar.attached?%>
                        <%= image_tag tweet.user.avatar %>
                    <% else %>
                        <img src="/images/avatar.png" alt="anonymus">
                    <% end %>
                    <div class="card-tweet-description">
                        <div class="card-tweet-top">
                            <span class="name"><%= tweet.user.name %></span>
                            <span>
                                <% if current_user && current_user.tweets.include?(tweet)%>
                                    <%= link_to "@#{tweet.user.username}", edit_user_registration_path %>
                                <% else %>
                                    <%= "@#{tweet.user.username}" %>
                                <% end %>
                            </span>
                           
                            <% if (Time.zone.today.to_datetime-tweet.created_at.to_datetime).to_i ==0 %>
                                <span><%= time_ago_in_words(tweet.created_at,scope: 'datetime.distance_in_words.abbrv') %></span>
                            <% else %>
                                <span><%= tweet.created_at.strftime('%b %d,%Y') %></span>
                            <% end %>
                        </div>
                        <p>
                            <%= tweet.body %>
                        </p>
                        <div class="footer-card-section">
                            <div class="icons-left">
                                <%= link_to image_tag("/images/icons/comment-icon.svg"), "/tweets/#{tweet.id}/comments" %>
                                <span><%= tweet.comments_count %></span>
                            </div>
                            <% if current_user &&  current_user.tweets.include?(tweet)  %>
                                <div class="icons-right">
                                    <%= link_to image_tag("/images/icons/trash-2.svg") ,tweet_path(tweet), method: :delete %>
                                    <%= link_to image_tag("/images/icons/edit.svg") , edit_tweet_path(tweet)  %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


<%# ---------------------------------------------- %>

