<% @tweets.each do |tweet| %>
    <div>
        <ul>
            <li><%= tweet.user.name %> <%= link_to "@#{tweet.user.username}", tweets_path %></li>
            <li><p class="content--sm gray-300"><%= time_ago_in_words(tweet.created_at) %></p></li>
            <li><%= link_to "#{tweet.body}", tweet %></li>
            <li><%= tweet.comments_count %></li>
        </ul>
    </div>
<% end %>

