<div class="user-title-container">
  <span>Login</span>
</div>
<div class="user-form-container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="buttons-user-section">
    <%= f.submit "Submit" ,class: "btn-1" %>
    <%= link_to "Sign Up" ,new_user_registration_path,class: "btn-2" %>
  </div>
<% end %>
</div>