<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-tweeter">
      <% if user_signed_in? %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "edit-profile" %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "session-tweet" %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "session-tweet" %>
      <% end %>
    </div>
    <% flash.each do |type, message|%>
        <div class="flex gap-16 flash-card">
          <%= image_tag "/images/icons/#{type}.svg" %>
          <div class="text-left">
            <p class="heading heading--xs"><%=type.to_s.capitalize%></p>
            <p class="content--lg"><%=message%></p>
          </div>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
